body {
  margin: 0;
  padding: 0;
  height: 100vh;
  text-decoration: none;
  list-style: none;
  background-color: #ddb892;
  font-family: Georgia;
}

.header-div {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #1f1f1d;
  font-family: Georgia;
  color: white;
}

.header-div ul {

  display: flex;
  gap: 10px;
  list-style: none;
  text-decoration: none;

}


.header-div a {
  color: white;
  text-decoration: none;
}

.header-div a:hover {
  background-color: #eddd9e;
  padding: 14px;
}

/* form */

.form-style-1 {
  margin: 10px auto;
  max-width: 400px;
  padding: 20px 12px 10px 20px;
  font: 13px "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.form-style-1 li {
  padding: 0;
  display: block;
  list-style: none;
  margin: 10px 0 0 0;
}

.form-style-1 label {
  margin: 0 0 3px 0;
  padding: 0px;
  display: block;
  font-weight: bold;
}

.form-style-1 input[type=text],
.form-style-1 input[type=email],
textarea,
select {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  border: 1px solid #BEBEBE;
  padding: 7px;
  margin: 0px;
  outline: none;
}

.form-style-1 input[type=text]:focus,
.form-style-1 input[type=email]:focus,
.form-style-1 textarea:focus,
.form-style-1 select:focus {
  -moz-box-shadow: 0 0 8px #6f1d1b;
  -webkit-box-shadow: 0 0 8px #6f1d1b;
  box-shadow: 0 0 8px #6f1d1b;
  border: 1px solid #6f1d1b;
}

.form-style-1 .field-divided {
  width: 49%;
}

.form-style-1 .field-long {
  width: 100%;
}

.form-style-1 .field-select {
  width: 100%;
}

.form-style-1 .field-textarea {
  height: 100px;
}


.form-style-1 input[type=button] {
  background: #6f1d1b;
  padding: 8px 15px 8px 15px;
  border: none;
  color: #fff;
}


.form-style-1 input[type=button]:hover {
  background: #ad2831;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.form-style-1 .required {
  color: #6f1d1b;
}

@media (max-width: 700px) {
  .outer-footer {
    font-size: 15px;
  }
}